{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<!-- I extended base.html so that it can access jquery, css, and js files -->
{{extend 'base.html'}}

<html>
	<body>
		<div style="background-color:#2ecc71; color:red; margin:40px; padding:40px;">
		<h1 style="color:#2c3e50; font-family:amazone_BT; text-align:center">
			
			<p id="target"></p>
		</h1>
	</div>
	<pre class="src">{{=blah2}} </pre>
	</body>
</html>

<script type="text/javascript">
$(function() {
    var srcText = $(".src").html();
    var i = 0;
    var result = srcText[i];
    setInterval(function() {
            if(i == srcText.length) {
                clearInterval(this);
                return;
            };
            i++;
            result += srcText[i].replace("\n", "<br />");
            $("#target").html( result);
    },
    50); // the period between every character and next one, in milliseonds.
});
</script>