.src {
  white-space: pre;
  display: none;
  /*visibility: hidden;*/
}

.joeBg{
  background-color:#22A7F0; 
  color:red; 
  margin:40px; 
  padding:40px;">
}

h1{
  color:#2c3e50; 
  font-family:amazone_BT; 
  text-align:center
}

body{
  background-color: #2C3E50;
}

#button1{
  float: right;
  position: relative; 
  top: -7px;
}

#button2{
  
}
