.src {
    white-space: pre;
    display: none;
    /*visibility: hidden;*/
}

.joeBg{
  background-color:#2ecc71; 
  color:red; 
  margin:40px; 
  padding:40px;">
}

h1{
  color:#2c3e50; 
  font-family:amazone_BT; 
  text-align:center
}

/*#newlines{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -50px;
    margin-left: -390px;
    font-style: oblique;
    font-size: 40;

}*/

body{
  background-color: #f1c40f;
}
